{% extends "games/layout.html" %}

{% block title %}Games{% endblock %}

{% block head %}
	{{ super() }}
	<link href="{{ url_for('static', filename='stylesheets/game-list.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

	<div class="game-list">

		<h1>Games</h1>

		<div class="game-container">

			{% for game in games %}

				<a class="game" href="/games/{{ game["id"] }}/">

					<span class="game-item name">
						Game: {{ game["id"] }}
					</span>

					<span class="game-item date">
						{{ game["date"] }}<br />
						{{ game["time"] }}
					</span>

					<span class="game-item">

						<span class="players">

							{% for team in game["teams"] %}
								<span class="player-group">
									{% for player in team["players"] %}
										<span class="player">{{ player }}</span>
									{% endfor %}
								</span>
								<span class="player-group-seperator">vs</span>
							{% endfor %}

						</span>

					</span>

				</a>

			{% endfor %}

		</div>

	</div>

{% endblock %}
