{% extends "games/layout.html" %}

{% block title %}Games{% endblock %}

{% block head %}
	{{ super() }}
	<link href="{{ url_for('static', filename='stylesheets/game-list.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

	<div class="game-list">

		<h1>Games</h1>

		{% for game in games %}

			<div class="game">

				<div class="name">
					<a href="/games/{{ game["id"] }}/">Game {{ game["id"] }}</a>
				</div>

				<div class="date">
					{{ game["date"] }}<br />
					{{ game["time"] }}
				</div>

				<div class="teams">
					{% for team in game["teams"] %}
						<div class="team">
							{% for player in team["players"] %}
								<div class="player">{{ player }}</div>
							{% endfor %}
						</div>
						<div class="vs">vs</div>
					{% endfor %}
				</div>

			</div>

		{% endfor %}

	</div>

{% endblock %}
