{% extends "games/layout.html" %}

{% block title %}Games{% endblock %}

{% block head %}
	{{ super() }}
	<link href="{{ url_for('static', filename='stylesheets/game-list.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

	<div class="game-list">

		<h1>Games</h1>

		<div class="game-container">

			{% for game in games %}

				<a class="game" href="/games/{{ game["id"] }}/">

					<span class="game-item name">
						Game: {{ game["id"] }}
					</span>

					<span class="game-item date">
						{{ game["date"] }}<br />
						{{ game["time"] }}
					</span>

					{% for team in game["teams"] %}
						<span class="game-item">
							{% for player in team["players"] %}
								<span class="player">{{ player }}</span>
							{% endfor %}
						</span>
						<span class="game-item">vs</span>
					{% endfor %}

				</a>

			{% endfor %}

		</div>

	</div>

{% endblock %}
