{% extends "matches/layout.html" %}

{% block title %}Score Board{% endblock %}

{% block head %}
	{{ super() }}
	{% assets filters="cssmin", output="gen/cricket.css", "stylesheets/cricket.css" %}
		<link href="{{ ASSET_URL }}" rel="stylesheet">
	{% endassets %}
{% endblock %}

{% block body %}

	<div class="score-board">

		<div class="teams">

			<div class="game-option">
				<div class="target miss">Miss</div>
			</div>

			{% set teamOrder = 0 %}
			{% for team in match["teams"] %}

				<div class="players" data-teamid="{{ team.id }}" data-wins="" data-order="{{ teamOrder }}">
					<div class="player-table">
						<div class="player-row" data-teamid="{{ team.id }}">

							{% set playerOrder = 0 %}
							{% for player in team["players"] %}

								<div class="player {% if player.id == match.turn %}active{% endif %}" data-playerid="{{ player.id }}" data-teamid="{{ team.id }}" data-order="{{ playerOrder }}">

									<div class="marks-per-round">
										<div class="label">M/R</div>
										<div class="value">
											<span class="rnd">1:</span>
											<span class="val r1">{% if match.game >= 1 %}{{ player.mpr1 }}{% else %}-{% endif %}</span>
										</div>
										{% if match.games >= 2 %}
											<div class="value">
												<span class="rnd">2:</span>
												<span class="val r2">{% if match.game >= 2 %}{{ player.mpr2 }}{% else %}-{% endif %}</span>
											</div>
										{% endif %}
										{% if match.games >= 3 %}
											<div class="value">
												<span class="rnd">3:</span>
												<span class="val r3">{% if match.game >= 3 %}{{ player.mpr3 }}{% else %}-{% endif %}</span>
											</div>
										{% endif %}
										{% if match.games >= 4 %}
											<div class="value">
												<span class="rnd">4:</span>
												<span class="val r4">{% if match.game >= 4 %}{{ player.mpr4 }}{% else %}-{% endif %}</span>
											</div>
										{% endif %}
										{% if match.games >= 5 %}
											<div class="value">
												<span class="rnd">5:</span>
												<span class="val r5">{% if match.game >= 5 %}{{ player.mpr5 }}{% else %}-{% endif %}</span>
											</div>
										{% endif %}
										<div class="value">
											<span class="rnd">G:</span>
											<span class="val all">{{ player.mpr }}</span>
										</div>
									</div>
									<div class="initial">{{ player.name[:1] }}</div>
									<div class="name">{{ player.name }}</div>

								</div>

								{% set playerOrder = playerOrder + 1 %}
							{% endfor %}

						</div>
					</div>
				</div>

				{% set teamOrder = teamOrder + 1 %}
			{% endfor %}

		</div>

		{% for i in range(20, 14, -1) %}

			<div class="points">
				<div class="point-value" data-points="{{ i }}">{{ i }}</div>

				{% for team in match["teams"] %}
					<div class="target awarded" data-teamid="{{ team.id }}" data-points="{{ i }}" data-hits="{{ team["marks"][i] }}"></div>
				{% endfor %}

			</div>

		{% endfor %}

		<div class="points">
			<div class="point-value" data-points="25">B</div>
			{% for team in match["teams"] %}
				<div class="target awarded" data-teamid="{{ team.id }}" data-points="25" data-hits="{{ team["marks"][25] }}"></div>
			{% endfor %}
		</div>

		<div class="scores">
			<div class="game-option">
				<div class="target undo">Undo</div>
			</div>

			{% for team in match["teams"] %}
				<div class="score" data-teamid="{{ team.id }}" data-score="{{ team["marks"]["points"] }}">
					<span class="button-label"></span>
					<span class="time-label"></span>

					<div class="score-row">
						<div class="round-scores">
							{% for i in range(1, 5) %}
								{% if match.games > i %}
									<span class="round-score">
										<label>R{{ i }}:</label>
										{% if match.game > i or match.complete %}
											{{ team["results"][i - 1]["score"] }}
										{% else %}
											-
										{% endif %}

										{% if team["results"][i - 1]["win"]  %}
											W
										{% endif %}
										{% if team["results"][i - 1]["loss"]  %}
											L
										{% endif %}
									</span>
								{% endif %}
							{% endfor %}
						</div>
						<div class="current-round-points">
							{{ team["marks"]["points"] }}
						</div>
					</div>

				</div>
			{% endfor %}
		</div>

	</div>

	<input type="hidden" name="matchId" value="{{ match.id }}" />
	<input type="hidden" name="games" value="{{ match.games }}" />
	<input type="hidden" name="game" value="{{ match.game }}" />
	<input type="hidden" name="round" value="{{ match.round }}" />
	<input type="hidden" name="players" value="{{ match.players }}" />
	<input type="hidden" name="turn" value="{{ match.turn }}" />
	<input type="hidden" name="complete" value="{{ match.complete }}" />
	<input type="hidden" name="createdAt" value="{{ match.createdAt }}" />

	{% for result in match["results"] %}
		<input
			type="hidden"
			name="result"
			data-game="{{ result.game }}"
			data-teamid="{{ result.teamId }}"
			data-score="{{ result.score }}"
			data-win="{{ result.win }}"
			data-loss="{{ result.loss }}"
		/>
	{% endfor %}

	<div class="modal-box modal-next-round">
		<h1>{message}</h1>

		<div class="button-group">
			<form action="/matches/{{ match.id }}/modes/cricket/next/" method="POST">
				<button class="btn btn-default btn-lg btn-block btn-next-round">
					Next Round
				</button>
			</form>

			<form action="/matches/{{ match.id }}/modes/cricket/again/" method="POST">
				<input type="hidden" name="games" value="{{ match.games }}" />
				<button class="btn btn-default btn-lg btn-block btn-next-round hidden">
					Play Again
				</button>
			</form>
			<form action="/matches/{{ match.id }}/modes/cricket/again/" method="POST">
				<input type="hidden" name="games" value="1" />
				<button class="btn btn-default btn-lg btn-block btn-next-round hidden">
					Best of 1
				</button>
			</form>
			<form action="/matches/{{ match.id }}/modes/cricket/again/" method="POST">
				<input type="hidden" name="games" value="3" />
				<button class="btn btn-default btn-lg btn-block btn-next-round hidden">
					Best of 3
				</button>
			</form>
			<form action="/matches/{{ match.id }}/modes/cricket/again/" method="POST">
				<input type="hidden" name="games" value="5" />
				<button class="btn btn-default btn-lg btn-block btn-next-round hidden">
					Best of 5
				</button>
			</form>

		</div>
	</div>

	<div class="modal-box modal-home">
		<h1>Are you sure you want to quit this match?</h1>

		<div class="button-group">
			<a class="btn btn-default btn-lg home-yes">Yes</a>
			<a class="btn btn-default btn-lg home-no">No</a>
		</div>
	</div>

	{% if markStyle != None %}
		<style>
			.awarded[data-hits] {
				background-image: url("/mark-styles/{{ markStyle.id }}/three.svg");
			}

			.awarded[data-hits="0"] {
				background-image: none;
			}

			.awarded[data-hits="1"] {
				background-image: url("/mark-styles/{{ markStyle.id }}/one.svg");
			}

			.awarded[data-hits="2"] {
				background-image: url("/mark-styles/{{ markStyle.id }}/two.svg");
			}
		</style>
	{% endif %}

{% endblock %}

{% block footer %}
	{{ super() }}
	{% assets filters="jsmin", output="gen/cricket-board.js", "javascripts/modes/cricket/board.js" %}
		<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
{% endblock %}
