{% extends "matches/layout.html" %}

{% block title %}Select Players{% endblock %}

{% block body %}

	<div class="container-fluid players">

		<div class="teams">

			{% set i = 1 %}
			{% for team in teams %}

				<div class="team">
					<div class="team-label">Team {{ i }}</div>
					<div class="team-players">

						<div class="team-player" data-teamid="{{ team.id }}">
							<label>Player 1:</label>
							<div class="selected" data-team="{{ team.id }}"></div>
						</div>

						{% if match.players == 4 %}
							<div class="team-player" data-teamid="{{ team.id }}">
								<label>Player 2:</label>
								<div class="selected" data-team="{{ team.id }}"></div>
							</div>
						{% endif %}
					</div>
				</div>

				{% set i = i + 1 %}
			{% endfor %}

		</div>

		<div class="instruction">

			<div class="select-player-instruction">Select First Player for Team 1</div>
			{% if match.players == 4 %}
				<div class="select-player-instruction">Select Second Player for Team 1</div>
			{% endif %}

			<div class="select-player-instruction">Select First Player for Team 2</div>
			{% if match.players == 4 %}
				<div class="select-player-instruction">Select Second Player for Team 2</div>
			{% endif %}

		</div>

		<div class="player-list">

			<div class="player-item">
				{% for player in players %}
					<button class="player" data-playerid="{{ player.id }}">{{ player.name }}</button>
				{% endfor %}
			</div>

		</div>

		<form action="/matches/{{ match.id }}/modes/cricket/play/" method="POST">
			<button class="btn btn-primary btn-lg btn-block play">Play</button>
		</form>
		{% if match.players == 4 %}
			<form action="/matches/{{ match.id }}/modes/cricket/randomize/" method="POST">
				<button class="btn btn-warning btn-lg btn-block randomize">Randomize Players</button>
			</form>
		{% endif %}

		<a class="btn btn-default add-player" href="/players/matches/{{ match.id }}/new/">Add Player</a>

		<form action="/matches/{{ match.id }}/modes/cricket/players/redo/" method="POST">
			<button class="redo btn btn-default">Redo</button>
		</form>

	</div>

	<input type="hidden" id="matchId" value="{{ match.id }}" />
	{% for teamPlayer in teamPlayers %}
		<input type="hidden" class="existing-players" value="{{ teamPlayer.playerId }}" />
	{% endfor %}


{% endblock %}

{% block footer %}
	{{ super() }}
	{% assets filters="jsmin", output="gen/cricket-players.js", "javascripts/modes/cricket/players.js" %}
		<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
{% endblock %}
