{% extends "layout.html" %}

{% block title %}Create Mark Style{% endblock %}

{% block head %}
	{{ super() }}
	{% assets output="gen/markstyles.css", "stylesheets/markstyles.css" %}
		<link href="{{ ASSET_URL }}" rel="stylesheet">
	{% endassets %}
{% endblock %}

{% block body %}

	<div class="container mark-styles form">

		<h1>Create Mark Style</h1>

		<div style="overflow: hidden;">

			<canvas id="mark-style" width="320" height="240"></canvas>

			<div class="controls">
				<div class="form-group">
					<button class="btn btn-info btn-sm clear-btn" id="clear-canvas">Clear All</button>
				</div>
				<div class="form-group">
					<button class="btn btn-info btn-sm clear-btn" id="clear-layer">Clear Layer</button>
				</div>

				<div class="form-group">
					<label for="drawing-line-width">Line width:</label>
					<span id="drawing-line-width-info" class="info">10</span>
					<input type="range" id="drawing-line-width" max="100" min="1" value="10" />
				</div>

				<div class="form-group">
					<label for="drawing-color">Line color:</label>
					<input type="color" id="drawing-color" value="#000" />
				</div>

				<div class="form-group">
					<button class="btn btn-warning undo-btn" id="undo-btn">Undo</button>
				</div>
			</div>

		</div>

		<button class="btn btn-success add-layer" data-layer="0">Set 1</button>
		<button class="btn btn-success add-layer" data-layer="1">Set 2</button>
		<button class="btn btn-success add-layer" data-layer="2">Set 3</button>

		<div class="layer-container">
			<div class="layer-preview" data-layer="0"></div>
			<div class="layer-preview" data-layer="1"></div>
			<div class="layer-preview" data-layer="2"></div>
		</div>

		<form id="mark-style-form" action="/mark-styles/" method="POST">
			<input type="hidden" name="one" />
			<input type="hidden" name="two" />
			<input type="hidden" name="three" />

			<div class="form-group">
			<label for="mark-style-name">Your Name:</label>
				<input type="text" id="mark-style-name" name="name" class="form-control" required />
			</div>

			<button class="btn btn-default btn-primary" type="submit" id="create-mark-style" disabled>Create Mark Style</button>
			<a href="/mark-styles/" class="btn btn-default btn-sm">Cancel</a>
		</form>

	</div>

{% endblock %}

{% block footer %}
	{{ super() }}
	{% assets output="gen/draw.js", "libraries/fabric/fabric.js", "javascripts/mark_styles.js" %}
		<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
{% endblock %}
