{% extends "layout.html" %}

{% block title %}Mark Styles{% endblock %}

{% block head %}
	{{ super() }}
	{% assets filters="cssmin", output="gen/markstyles.css", "stylesheets/markstyles.css" %}
		<link href="{{ ASSET_URL }}" rel="stylesheet">
	{% endassets %}
{% endblock %}

{% block body %}

	<div class="container-fluid mark-styles">

		<a class="btn btn-default btn-sm action" href="/mark-styles/new/">
			<span class="glyphicon glyphicon-star"></span>
			Create Mark Style
		</a>

		<h1 class="with-action">Mark Styles</h1>

		<table class="table">

			<tbody>

				{% for markStyle in markStyles %}

					<tr>

						{% if admin %}
							<td>
								{% if markStyle.approved %}
									<span class="btn btn-success">
										<span class="glyphicon glyphicon-ok"></span>
									</span>
								{% else %}
									<span class="btn btn-warning">
										<span class="glyphicon glyphicon-ok"></span>
									</span>
								{% endif %}
							</td>
						{% endif %}

						<td>
							{{ markStyle.name }}<br />
							{{ dates[markStyle.id] }}
						</td>
						<td>{{ markStyle.one|safe }}</td>
						<td>{{ markStyle.two|safe }}</td>
						<td>{{ markStyle.three|safe }}</td>

						{% if admin %}
							<td>
								<a href="/mark-styles/{{ markStyle.id }}/edit/" class="btn btn-info visible-sm-inline-block" title="Edit">
									<span class="glyphicon glyphicon-pencil"></span>
								</a>
								{% if markStyle.approved %}
									<form action="/mark-styles/{{ markStyle.id }}/reject/" method="POST" class="visible-sm-inline-block">
										<button type="submit" class="btn btn-warning" title="Reject">
											<span class="glyphicon glyphicon-remove"></span>
										</button>
									</form>
								{% else %}
									<form action="/mark-styles/{{ markStyle.id }}/approve/" method="POST" class="visible-sm-inline-block">
										<button type="submit" class="btn btn-success" title="Approve">
											<span class="glyphicon glyphicon-ok"></span>
										</button>
									</form>
									<form action="/mark-styles/{{ markStyle.id }}/delete/" method="POST" class="form-delete visible-sm-inline-block">
										<button type="submit" class="btn btn-danger" title="Delete">
											<span class="glyphicon glyphicon-trash"></span>
										</button>
									</form>
								{% endif %}
							</td>
						{% endif %}

					</tr>

				{% endfor %}

				{% if markStyles.count() == 0 %}

					<tr>
						<td class="text-center">No mark styles have been added.<td>
					</td>

				{% endif %}

			</tbody>

		</table>

	</div>

{% endblock %}

{% block footer %}
	{{ super() }}
	{% assets filters="jsmin", output="gen/draw.js", "libraries/fabric/fabric.js", "javascripts/mark_styles.js" %}
		<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
{% endblock %}
