{% extends "layout.html" %}

{% block title %}Player Details{% endblock %}

{% block head %}
	{{ super() }}
	<link href="{{ url_for('static', filename='stylesheets/players.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

	<div class="container-fluid player-details">

		<h1>{{ player.name }}</h1>

		<dl>

			<dt>Games Played:</dt>
			<dd>{{ teamPlayers.count() }}</dd>

			<dt>Wins:</dt>
			<dd>{{ wins }}</dd>

			<dt>Losses:</dt>
			<dd>{{ losses }}</dd>

			<dt>Marks:</dt>
			<dd>{{ marks.count() }}</dd>

			<dt>Marks per Round:</dt>
			<dd>
				{% if rounds != 0 %}
					{{ "{:.3f}".format(marks.count() / rounds) }}
				{% else %}
					0
				{% endif %}
			</dd>

			<dt>Points Scored:</dt>
			<dd>{{ points }}</dd>

		</dl>

	</div>

{% endblock %}