{% extends "layout.html" %}

{% block title %}Create Player{% endblock %}

{% block head %}
	{{ super() }}
	<link href="{{ url_for('static', filename='stylesheets/players.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

	<div class="container-fluid players">

		<h1>Create Player</h1>

		{% if error %}
			<div class="alert alert-danger">That name is already taken. Please specify a unique name.</div>
		{% endif %}

		<form action="/players/" method="POST">

			<input type="hidden" name="gameId" value="{{ gameId }}" />

			<div class="form-group {% if error %}has-error{% endif %}">

				<input type="text" name="name" value="{{ name }}" class="form-control" placeholder="Name..." autocomplete="off" maxlength="255" required />

			</div>

			<button type="submit" class="btn btn-default btn-primary">Create Player</button>

			{% if gameId == 0 %}
				<a class="btn btn-default btn-sm" href="/players/">Cancel</a>
			{% else %}
				<a class="btn btn-default btn-sm" href="/games/{{ gameId }}/modes/cricket/players/">Cancel</a>
			{% endif %}

		</form>

	</div>

{% endblock %}