{% extends "matches/layout.html" %}

{% block title %}Select Number of Players{% endblock %}

{% block body %}

	<div class="container-fluid games">

		<h1 class="select-num-players">Select Number of Players</h1>

		{% for i in range(8, 1, -1) %}

			<form action="/matches/{{ match.id }}/modes/{{ mode.alias }}/num-players/" method="POST">
				<input type="hidden" name="players" value="{{ i }}" />
				<button class="btn btn-default number-of-players">{{ i }}</button>
			</form>

		{% endfor %}

	</div>

{% endblock %}
