<table class="table table-striped">

	<thead>

		<tr>

			<th data-sort="string">
				Player
				{% include 'leaderboard/_sort.html' %}
			</th>
			<th data-sort="int">
				Games
				{% include 'leaderboard/_sort.html' %}
			</th>
			<th data-sort="int">
				Win%
				{% include 'leaderboard/_sort.html' %}
			 </th>
			<th data-sort="int">
				<span class="hidden-xs">Wins</span>
				<span class="visible-xs-inline">W</span>
				{% include 'leaderboard/_sort.html' %}
			</th>
			<th data-sort="int">
				<span class="hidden-xs">Losses</span>
				<span class="visible-xs-inline">L</span>
				{% include 'leaderboard/_sort.html' %}
			</th>
			<th data-sort="int">
				Marks
				{% include 'leaderboard/_sort.html' %}
			</th>
			<th data-sort="int">
				<span class="hidden-xs">Rounds</span>
				<span class="visible-xs-inline">Rnds</span>
				{% include 'leaderboard/_sort.html' %}
			</th>
			<th data-sort="float">
				<span class="hidden-xs">Marks/Round</span>
				<span class="visible-xs-inline">M/R</span>
				{% include 'leaderboard/_sort.html' %}
			</th>

		</tr>

	</thead>

	<tbody>

		{% for row in data %}

			{% set winPercentage = "0.000" %}
			{% set marksPerRound = "0.000" %}

			{% if row.wins > 0 or row.losses > 0 %}
				{% set winPercentage = "{:.3f}".format((row.wins / (row.wins + row.losses)) * 100 ) %}
			{% endif %}
			{% if row.rounds > 0 %}
				{% set marksPerRound = "{:.3f}".format(row.marks / row.rounds) %}
			{% endif %}

			<tr>

				<td>{{ row.name }}</td>
				<td>{{ row.games }}</td>
				<td data-sort-value="{{winPercentage}}">{{ winPercentage }}%</td>
				<td>{{ row.wins }}</td>
				<td>{{ row.losses }}</td>
				<td>{{ row.marks }}</td>
				<td>{{ row.rounds }}</td>
				<td>{{ marksPerRound }}</td>

			</tr>

		{% endfor %}

	</tbody>

</table>