<table class="table table-striped leaders">

	<thead>

		<tr>

			<th data-sort="string">
				Player
				{% include 'leaderboard/_sort.html' %}
			</th>
			<th data-sort="int">
				Win%
				{% include 'leaderboard/_sort.html' %}
			 </th>
			 <th data-sort="float">
				Marks/Round
				{% include 'leaderboard/_sort.html' %}
			</th>
			<th data-sort="int">
				Games
				{% include 'leaderboard/_sort.html' %}
			</th>
			<th data-sort="int">
				Points
				{% include 'leaderboard/_sort.html' %}
			</th>
			<th data-sort="int">
				Points/Game
				{% include 'leaderboard/_sort.html' %}
			</th>
			<th data-sort="int">
				Wins
				{% include 'leaderboard/_sort.html' %}
			</th>
			<th data-sort="int">
				Losses
				{% include 'leaderboard/_sort.html' %}
			</th>
			<th data-sort="int">
				Marks
				{% include 'leaderboard/_sort.html' %}
			</th>
			<th data-sort="int">
				Rounds
				{% include 'leaderboard/_sort.html' %}
			</th>
			<th data-sort="int">
				Time
				{% include 'leaderboard/_sort.html' %}
			</th>

		</tr>

	</thead>

	<tbody>

		{% for row in data %}

			{% set winPercentage = "0.000" %}
			{% set marksPerRound = 0.000 %}
			{% set marksPerRoundFormatted = "0.000" %}
			{% set pointsPerGame = "0.000" %}

			{% if row.wins > 0 or row.losses > 0 %}
				{% set winPercentage = "{:.3f}".format((row.wins / (row.wins + row.losses)) * 100 ) %}
			{% endif %}
			{% if row.rounds > 0 %}
				{% set marksPerRound = row.marks / row.rounds %}
				{% set marksPerRoundFormatted = "{:.3f}".format(marksPerRound) %}
			{% endif %}
			{% if row.games > 0 %}
				{% set pointsPerGame = "{:.3f}".format(points[row.id] / row.games) %}
			{% endif %}

			<tr>

				<td><a href="/leaderboard/players/{{ row.id }}/">{{ row.name }}</a></td>
				<td data-sort-value="{{ winPercentage }}">{{ winPercentage }}%</td>
				<td data-sort-value="{{ marksPerRound }}">{{ marksPerRoundFormatted }}</td>
				<td>{{ row.games }}</td>
				<td data-sort-value="{{ points[row.id] }}">{{ "{:,}".format(points[row.id]) }}</td>
				<td data-sort-value="{{ pointsPerGame }}">{{ pointsPerGame }}</td>
				<td>{{ row.wins }}</td>
				<td>{{ row.losses }}</td>
				<td data-sort-value="{{ row.marks }}">{{ "{:,}".format(row.marks) }}</td>
				<td data-sort-value="{{ row.rounds }}">{{ "{:,}".format(row.rounds) }}</td>
				<td data-sort-value="{{ times[row.id]["seconds"] }}">{{ times[row.id]["time"] }}</td>

			</tr>

		{% endfor %}

	</tbody>

</table>