{% extends "layout.html" %}

{% block title %}Players{% endblock %}

{% block head %}
	{{ super() }}
	<link href="{{ url_for('static', filename='libraries/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

	<div class="container-fluid leaderboard">

		<h1>Leaderboard</h1>

		<p class="text-center">Statistics and Win/Loss records are calculated from complete matches only.</p>

		<form class="form-inline" style="text-align: center; margin: 12px 0;">
			<div class="form-group">
				<div class="input-daterange input-group">
					<input type="text" class="input-sm form-control" name="start" placeholder="start date" />
					<span class="input-group-addon">to</span>
					<input type="text" class="input-sm form-control" name="end" placeholder="end date" />
				</div>
			</div>
		</form>

		<div id="leaderboard">
			{% include 'leaderboard/_table.html' %}
		</div>

	</div>

{% endblock %}

{% block footer %}
	{{ super() }}
	{% assets filters="jsmin", output="gen/leaderboard.js", "libraries/stupid-table/stupidtable.min.js", "libraries/bootstrap-datepicker/js/bootstrap-datepicker.min.js", "javascripts/leaderboard.js" %}
		<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
{% endblock %}
