{% extends "layout.html" %}

{% block title %}Players{% endblock %}

{% block body %}

	<div class="container-fluid leaderboard">

		<h1>Leaderboard</h1>

		<p class="text-center">Statistics and Win/Loss records are calculated from complete games only.</p>

		<table id="leaderboard" class="table table-striped">

			<thead>

				<tr>

					<th data-sort="string">Player</th>
					<th data-sort="int">Games</th>
					<th data-sort="int">Win %</th>
					<th data-sort="int">Wins</th>
					<th data-sort="int">Losses</th>
					<th data-sort="int">Marks</th>
					<th data-sort="int">Rounds</th>
					<th data-sort="float">Marks/Round</th>

				</tr>

			</thead>

			<tbody>

				{% for row in data %}

					{% set winPercentage = "0.000" %}
					{% set marksPerRound = "0.000" %}

					{% if row.wins > 0 or row.losses > 0 %}
						{% set winPercentage = "{:.3f}".format((row.wins / (row.wins + row.losses)) * 100 ) %}
					{% endif %}
					{% if row.rounds > 0 %}
						{% set marksPerRound = "{:.3f}".format(row.marks / row.rounds) %}
					{% endif %}

					<tr>

						<td>{{ row.name }}</td>
						<td>{{ row.games }}</td>
						<td data-sort-value="{{winPercentage}}">{{ winPercentage }}%</td>
						<td>{{ row.wins }}</td>
						<td>{{ row.losses }}</td>
						<td>{{ row.marks }}</td>
						<td>{{ row.rounds }}</td>
						<td>{{ marksPerRound }}</td>

					</tr>

				{% endfor %}

			</tbody>

		</table>

	</div>

{% endblock %}

{% block footer %}
	{{ super() }}
	<script src="{{ url_for('static', filename='libraries/stupid-table/stupidtable.min.js') }}"></script>
	<script src="{{ url_for('static', filename='javascripts/leaderboard.js') }}"></script>
{% endblock %}
