{% extends "layout.html" %}

{% block title %}Players{% endblock %}

{% block head %}
	{{ super() }}
	<link href="{{ url_for('static', filename='libraries/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

	<div class="container-fluid leaderboard leaderboard-player">

		<h1>{{ player.name }} Team Statistics</h1>

		<p class="text-center">Statistics and Win/Loss records are calculated from complete games only.</p>

		<div id="leaderboard">

			<table class="table table-striped teams">

				<thead>

					<tr>
						<th data-sort="float">
							Your M/R
							{% include 'leaderboard/_sort.html' %}
						</th>
						<th data-sort="string">
							Teammate
							{% include 'leaderboard/_sort.html' %}
						</th>
						<th data-sort="float">
							Mks/Rnd
							{% include 'leaderboard/_sort.html' %}
						</th>
						<th data-sort="float">
							Win %
							{% include 'leaderboard/_sort.html' %}
						</th>
						<th data-sort="int">
							Matches
							{% include 'leaderboard/_sort.html' %}
						</th>
						<th data-sort="int">
							Wins
							{% include 'leaderboard/_sort.html' %}
						</th>
						<th data-sort="int">
							Losses
							{% include 'leaderboard/_sort.html' %}
						</th>
					</tr>

				</thead>

				<tbody>

					{% for id in stats %}
						{% set stat = stats[id] %}

						<tr>

							<td data-sort-value="{{ stat["yours"] }}">{{ "{:.2f}".format(stat["yours"]) }}</td>
							<td>{{ stat["player"].name }}</td>
							<td data-sort-value="{{ stat["theirs"] }}">{{ "{:.2f}".format(stat["theirs"]) }}</td>
							<td data-sort-value="{{ stat["winPercentage"] }}">{{ "{:.2f}".format(stat["winPercentage"] * 100) }}</td>
							<td>{{ stat["games"] }}</td>
							<td>{{ stat["wins"] }}</td>
							<td>{{ stat["losses"] }}</td>

						</tr>

					{% endfor %}

				</tbody>
			</table>

		</div>

	</div>

{% endblock %}

{% block footer %}
	{{ super() }}
	{% assets filters="jsmin", output="gen/leaderboard.js", "libraries/stupid-table/stupidtable.min.js", "libraries/bootstrap-datepicker/js/bootstrap-datepicker.min.js", "javascripts/leaderboard.js" %}
		<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
{% endblock %}
