@font-face {
	font-family: digital;
	src: url("/static/fonts/digital-7.ttf");
}

@font-face {
	font-family: moondart;
	src: url("/static/fonts/moondart.ttf");
}

html {}

body {
	font-size: 14px;
	font-family: Arial;
	width: 100%;
	background: #f0f0f0;
}

button {
	border: none;
	background: none;
}

ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
}

a:focus {
	outline: none;
}

.btn.action {
	float: right;
	margin-top: 9px;
}

h1 {
	margin: 8px 0;
	font-size: 28px;
}

header a {
	font-size: 50px;
	display: block;
	border-bottom: solid 1px #333;
	color: #333;
	font-family: digital;
	padding: 0 16px;
	line-height: 50px;
}

header a:hover,
header a:focus {
	text-decoration: none;
	color: #333;
}

.no-padding {
   padding: 0 !important;
   margin: 0 !important;
}