html,
body {
	height: 100%;
}

header {
	display: none;
}

.score-board {
	width: 100%;
	height: 100%;
	margin: auto;
	display: table;
}

.game-option {
	display: table-cell;
	width: 24%;
	border: none;
	background: none;
	padding: 0;
	margin: 0;
	text-decoration: none;
	color: #000;
	text-align: center;
	font-family: Arial;
	color: #666;
	font-size: 3vh;
	vertical-align: middle;
	cursor: pointer;
	border-bottom: solid 1px #e0e0e0;
	border-right: solid 1px #fff;
}

.game-option .turn {
	border-top: solid 1px #fff;
}

.game-option .miss,
.game-option .turn {
	border-bottom: 1px solid #e0e0e0;
}
.game-option .undo,
.game-option .home {
	border-top: 1px solid #fff;
}

.game-option .miss,
.game-option .undo,
.game-option .turn,
.game-option .home {
	height: 50%;
	line-height: 7vh;
}

.target:active,
.player.active {
	background-color: #ddd;
	color: #888;
}

.player.active {
	box-shadow: inset 0 0 5px 5px #888;
}

.teams {
	overflow: hidden;
	height: 15%;
	border-bottom: solid 1px #e0e0e0;
	display: table-row;
}

.players {
	border-bottom: solid 1px #e0e0e0;
	width: 38%;
}

.player-table {
	display: table;
	width: 100%;
	height: 100%;
}
.player-row {
	display: table-row;
}

.player {
	display: table-cell;
	table-layout: fixed;
	color: #aaa;
	text-align: center;
	padding: 0 3px;
	height: 100%;
	width: 50%;
}

.player .initial {
	font-size: 6vh;
	line-height: 9vh;
}

.player .name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.player.set {
	color: #999;
}

.points {
	height: 10%;
	width: 100%;
	display: table-row;
}


.teams .players {
	display: table-cell;
	border-left: solid 1px #e0e0e0;
	border-right: solid 1px #fff;
}

.point-value {
	text-align: center;
	font-size: 8vh;
	line-height: 9vh;
	border-right: solid 1px #fff;
	font-family: moondart;
	display: table-cell;
	float: none;
	border-top: solid 1px #fff;
	border-bottom: solid 1px #e0e0e0;
}

.awarded {
	background-position: center center;
	background-size: 100% 100%;
	border-left: solid 1px #e0e0e0;
	border-right: solid 1px #fff;
	display: table-cell;
	float: none;
	border-top: solid 1px #fff;
	border-bottom: solid 1px #e0e0e0;
	position: relative;
}

.awarded:last-child {
	border-right: none;
}

.awarded[data-hits] {
	background-image: url("/static/svgs/3.svg");
}

.awarded[data-hits="0"] {
	background-image: none;
}

.awarded[data-hits="1"] {
	background-image: url("/static/svgs/1.svg");
}

.awarded[data-hits="2"] {
	background-image: url("/static/svgs/2.svg");
}

.scores {
	height: 15%;
	border-top: solid 1px #fff;
	display: table-row;
	width: 100%;
}

.score {
	font-family: digital;
	display: table-cell;
	border-left: solid 1px #e0e0e0;
	border-right: solid 1px #fff;
	border-top: solid 1px #fff;
}

.round-scores {
	overflow: hidden;
}

.round-score {
	float: left;
	width: 50%;
	text-align: center;
}
.round-score label {
	width: 16px;
	margin: 0;
}

.current-round-points {
	font-size: 13vh;
	line-height: 10vh;
	text-align: center;
}

.mark-counter {
	background: #bbb;
	color: #fff;
	padding: 4px 6px;
	border-radius: 24px;
	position: absolute;
	top: 4px;
	left: 4px;
	font-size: 13px;
	line-height: 13px;
	font-weight: bold;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
