.table > tbody > tr {
	cursor: pointer;
}

.table > tbody > tr:active td {
	background: #ddd;
}

.table > tbody > tr > td {
	vertical-align: middle;
}
.table > tbody > tr > td > span {
	display: block;
	overflow: hidden;
}

.game-number {
	text-align: center;
}

.game-date {
	text-align: center;
}

.game-team-players {
	text-align: center;
}

.game-rounds {
	text-align: left;
	vertical-align: bottom !important;
	font-size: 10px;
	padding-bottom: 10px !important;
}

.game-vs {
	text-align: center;
	color: #888;
}

.game-team-result {
	font-weight: bold;
	font-size: 20px;
}

.game-rounds-round {
	display: block;
	float: left;
	width: 18px;
}

.game-rounds-score {
	display: block;
	float: left;
	width: 20px;
	text-align: right;
}

.game-rounds-win-loss {
	display: block;
	float: left;
	text-align: center;
	width: 15px;
}
