.game-list .game-container {
	display: table;
	width: 100%;
}

.game-list .game {
	display: table-row;
	overflow: hidden;
	color: #333;
	text-decoration: none;
}

.game-list .game:active {
	background: #ccc;
}

.game-list .game .game-item {
	border-top: solid 1px #ccc;
	display: table-cell;
	padding: 8px;
	vertical-align: middle;
	text-align: center;
}

.game-list .game:last-child .game-item {
	border-bottom: solid 1px #ccc;
}

.game-list .game:last-child .players {
	display: table;
	width: 100%;
}

.game-list .game .game-item .player-group {
	display: table-cell;
	width: 45%;
}
.game-list .game .game-item .player-group .result {
	font-size: 20px;
	line-height: 20px;
}

.game-list .game .game-item .player {
	display: block;
}

.game-list .game .game-item .player-group-seperator {
	display: table-cell;
	padding: 0 5px;
	vertical-align: middle;
	color: #888;
}

.game-list .game .game-item .player-group-seperator:last-child {
	display: none;
}

.game-list .players {
	display: table;
	width: 100%;
	margin: 0;
}