header {
	display: none;
}

.darts h1 {
	text-align: center;
	font-size: 100px;
	line-height: 100px;
	font-family: digital;
	margin: 0;
}

.darts a {
	display: block;
	text-align: center;
	padding: 16px;
	font-size: 4vh;
}

.darts a:active {
	background: #162043;
	color: #fff;
	font-weight: bold;
}
