{% extends "layout.html" %}

{% block title %}Games{% endblock %}

{% block head %}
	{{ super() }}
	<link href="{{ url_for('static', filename='stylesheets/main.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

	<div class="darts">

		<h1>Darts</h1>

		<div class="button-group">
			<a class="btn btn-default" href="/games/new">New Game</a>
			<a class="btn btn-default" href="/games">Previous Games</a>
			<a class="btn btn-default" href="/players">Players</a>
		</div>

	</div>

{% endblock %}