{% extends "layout.html" %}

{% block title %}Matches{% endblock %}

{% block head %}
	{{ super() }}
	{% assets filters="cssmin", output="gen/main.css", "stylesheets/main.css" %}
		<link href="{{ ASSET_URL }}" rel="stylesheet">
	{% endassets %}
{% endblock %}

{% block body %}

	<div class="darts">

		<h1>Derts</h1>

		<div class="button-group">
			<a class="btn btn-default" href="/matches/new/">Ner Mertch</a>
			<a class="btn btn-default" href="/matches/">Previrous Mertcher</a>
			<a class="btn btn-default" href="/players/">Prayers</a>
			<a class="btn btn-default" href="/leaderboard/">Lerderberd</a>
			<a class="btn btn-default" href="/mark-styles/">Merk Strles</a>
			<a class="btn btn-default" href="/brackets/">Ternment</a>
			<a class="btn btn-default" href="/api/">ArPi</a>
		</div>

	</div>

{% endblock %}