<!DOCTYPE html>
<html lang="en">
	<head>

		{% block head %}

			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

			<title>Darts | {% block title %}{% endblock %}</title>
			<link rel="shortcut icon" href="/static/images/icon.png" type="image/x-icon" />
			<link href="{{ url_for('static', filename='libraries/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
			{% assets filters="cssmin", output="gen/layout.css", "stylesheets/all.css" %}
				<link href="{{ ASSET_URL }}" rel="stylesheet">
			{% endassets %}

		{% endblock %}

	</head>
	<body>

		<header>

			<a class="home" href="/">
				<span class="arrow"></span>
				<span class="body">Home</span>
			</a>

			<h1>Darts</h1>

		</header>

		<div class="modal-box modal-delete">
			<h1 class="message"></h1>

			<div class="button-group">
				<a class="btn btn-default btn-lg action-yes">Yes</a>
				<a class="btn btn-default btn-lg action-no">No</a>
			</div>

		</div>

		{% block body %}{% endblock %}

		{% assets filters="jsmin", output="gen/layout.js", "libraries/jquery/jquery.min.js", "javascripts/all.js" %}
			<script type="text/javascript" src="{{ ASSET_URL }}"></script>
		{% endassets %}

		{% block footer %}{% endblock %}

	</body>
</html>